body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

img.img-thumbnail {
    width: 400px;
    height: 400px;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.col-md-4 {
    text-align: center;
}